@font-face {
   font-family: 'Raleway';
   src: url('../fonts/RalewayMedium.woff2') format('woff2'),
        url('../fonts/RalewayMedium.woff') format('woff');
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}