:root {
   --font-family: 'Raleway', sans-serif;
   
   --accent-color: #e1ede6;
   --dark-color: #2c2d35;
   --leaves-color: #598d66;
   --green-color: #376b44;
   --light-color: #f4f6f5;
   --btn-color: #d4e8d9;
   --border-color: #c3d1c6;
   --yellow-color: #eedb6d;
   --orange-color: #eeb06d;
   --grey-color: #86928b;
   --white-color: #fff;
   --black-color: #000;
}